openapi: 3.1.0
info:
  title: VisaOnTrack v2 API
  version: 0.2.5
  description: |
    Two-sided marketplace API connecting visa seekers with vetted service providers in Thailand.

    ## Authentication
    This API uses JWT tokens stored in HttpOnly cookies. Include credentials with requests.

    ## Entitlements & Quotas
    Provider plans (Free/Pro/Pro+/Enterprise) enforce entitlements at the API middleware level.
    Over-quota actions return structured errors (403 EntitlementExceeded, 429 Throttled).

    ## Versioning
    Contract version: 0.2.5 (semver) - RFC-005: Consultation offerings
    Breaking changes will increment major version and require client regeneration.
  
  contact:
    name: VisaOnTrack API Support
  
  license:
    name: Proprietary

servers:
  - url: https://api.visaontrack.com
    description: Production
  - url: https://api-staging.visaontrack.com
    description: Staging
  - url: http://localhost:3001
    description: Local development

tags:
  - name: auth
    description: Authentication endpoints
  - name: users
    description: User profile and management
  - name: providers
    description: Provider profiles and management
  - name: packages
    description: Service packages
  - name: requests
    description: Visa request posting and management
  - name: consultations
    description: Consultation offerings (free and paid discovery calls)
  - name: messages
    description: Request messaging and attachments
  - name: quotes
    description: Quote submission and management
  - name: checkout
    description: Stripe Connect PaymentIntent creation
  - name: orders
    description: Order management and delivery
  - name: reviews
    description: Order reviews and ratings
  - name: billing
    description: Stripe Billing (plans, subscriptions, entitlements)
  - name: admin
    description: Admin-only operations (M7 - placeholders)

paths:
  # ==================== AUTH ====================
  /auth/login:
    post:
      tags:
        - auth
      summary: Login user
      description: Authenticate user with email/password. Returns JWT in HttpOnly cookie.
      operationId: login
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
      responses:
        '200':
          description: Login successful. JWT set in HttpOnly cookie.
          headers:
            Set-Cookie:
              schema:
                type: string
                example: 'token=eyJhbGc...; HttpOnly; Secure; SameSite=Strict'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginResponse'
        '401':
          description: Invalid credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 'UNAUTHORIZED'
                message: 'Invalid email or password'

  /auth/forgot-password:
    post:
      tags:
        - auth
      summary: Request password reset
      description: |
        Send password reset email to user. Always returns success (200 OK) for security reasons (no user enumeration).
        If user exists, email with reset token link is sent. Token expires in 1 hour.
      operationId: forgotPassword
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ForgotPasswordRequest'
      responses:
        '200':
          description: |
            Always returns success (200 OK) regardless of whether user exists, to prevent user enumeration.
            If user exists, password reset email is sent with reset token link.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForgotPasswordResponse'
        '400':
          description: Invalid email format
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 'BAD_REQUEST'
                message: 'Invalid email format'
        '429':
          $ref: '#/components/responses/Throttled'

  /auth/reset-password:
    post:
      tags:
        - auth
      summary: Reset password with token
      description: |
        Reset user password using reset token from email. Token must be valid, not expired, and not already used.
        Token is single-use and invalidated after successful reset.
      operationId: resetPassword
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResetPasswordRequest'
      responses:
        '200':
          description: Password reset successful. User can now login with new password.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResetPasswordResponse'
        '400':
          description: Invalid token or weak password
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                invalidToken:
                  value:
                    code: 'BAD_REQUEST'
                    message: 'Invalid or expired reset token'
                weakPassword:
                  value:
                    code: 'BAD_REQUEST'
                    message: 'Password does not meet strength requirements'
        '401':
          description: Token expired or already used
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 'UNAUTHORIZED'
                message: 'Reset token has expired or has already been used'
        '429':
          $ref: '#/components/responses/Throttled'

  /auth/verify-email:
    get:
      tags:
        - auth
      summary: Verify email with token
      description: |
        Verify email address using token from verification email link (RFC-003).
        Token expires after 24 hours and is single-use.
      operationId: verifyEmail
      parameters:
        - name: token
          in: query
          required: true
          schema:
            type: string
          description: Verification token from email link
      responses:
        '200':
          description: Email verified successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VerifyEmailResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
          description: Invalid token format
        '401':
          $ref: '#/components/responses/Unauthorized'
          description: Invalid or expired token

  /auth/resend-verification:
    post:
      tags:
        - auth
      summary: Resend verification email
      description: |
        Resend verification email to authenticated user (RFC-003).
        Rate limited to 3 requests per hour per user.
      operationId: resendVerification
      security:
        - cookieAuth: []
      responses:
        '200':
          description: Verification email sent successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResendVerificationResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
          description: Email already verified
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/Throttled'

  /auth/logout:
    post:
      tags:
        - auth
      summary: Logout user
      description: |
        Logout authenticated user. Clears JWT cookie and logs logout event for audit.
        Requires authentication (JWT token in HttpOnly cookie).
      operationId: logout
      security:
        - cookieAuth: []
      responses:
        '200':
          description: Logout successful. JWT cookie cleared.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LogoutResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
          description: Authentication required

  /auth/register:
    post:
      tags:
        - auth
      summary: Register new user
      description: |
        Register a new user account. Creates user with default role SEEKER.
        Password must meet strength requirements (uppercase, lowercase, number, special character).
        Returns JWT token in HttpOnly cookie.
        Sends verification email (RFC-003). User must verify email before full access.
      operationId: register
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterRequest'
      responses:
        '200':
          description: Registration successful. JWT set in HttpOnly cookie.
          headers:
            Set-Cookie:
              schema:
                type: string
                example: 'token=eyJhbGc...; HttpOnly; Secure; SameSite=Strict'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegisterResponse'
        '400':
          description: Invalid email format, weak password, or duplicate email
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                invalidEmail:
                  value:
                    code: 'BAD_REQUEST'
                    message: 'Invalid email format'
                weakPassword:
                  value:
                    code: 'BAD_REQUEST'
                    message: 'Password must be at least 8 characters long and contain at least one uppercase letter, one lowercase letter, one number, and one special character (!@#$%^&*)'
                duplicateEmail:
                  value:
                    code: 'BAD_REQUEST'
                    message: 'Email already registered'
        '429':
          $ref: '#/components/responses/Throttled'

  # ==================== USERS ====================
  /users/me:
    get:
      tags:
        - users
      summary: Get current user
      description: Returns authenticated user profile
      operationId: getCurrentUser
      security:
        - cookieAuth: []
      responses:
        '200':
          description: User profile
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '401':
          $ref: '#/components/responses/Unauthorized'
    
    patch:
      tags:
        - users
      summary: Update current user
      description: Update authenticated user's profile (including role selection for account type)
      operationId: updateCurrentUser
      security:
        - cookieAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateUserRequest'
      responses:
        '200':
          description: User updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /users/me/mark-provider-step-complete:
    post:
      tags:
        - users
      summary: Mark provider onboarding step as complete
      description: |
        Mark a specific provider onboarding step as complete (step 1: business, 2: services, 3: credentials).
        Used for step-by-step progress tracking.
      operationId: markProviderStepComplete
      security:
        - cookieAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MarkStepCompleteRequest'
      responses:
        '200':
          description: Step marked as complete
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MarkStepCompleteResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /users/me/complete-onboarding:
    post:
      tags:
        - users
      summary: Complete onboarding
      description: |
        Mark onboarding as complete for current user (RFC-004).
        Sets onboarding completion flags based on user's role.
        Role must match user's actual role (SEEKER or PROVIDER).
      operationId: completeOnboarding
      security:
        - cookieAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CompleteOnboardingRequest'
      responses:
        '200':
          description: Onboarding completed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '400':
          $ref: '#/components/responses/BadRequest'
          description: Invalid role or role mismatch
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  # ==================== PROVIDERS ====================
  /providers:
    get:
      tags:
        - providers
      summary: Search providers
      description: Search and list providers with pagination
      operationId: searchProviders
      security:
        - cookieAuth: []
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Limit'
        - name: query
          in: query
          description: Search query
          schema:
            type: string
        - name: location
          in: query
          description: Location filter
          schema:
            type: string
      responses:
        '200':
          description: Provider list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProviderListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
    
    post:
      tags:
        - providers
      summary: Create provider profile
      description: Create or update provider profile (PROVIDER role required)
      operationId: createProvider
      security:
        - cookieAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateProviderRequest'
      responses:
        '201':
          description: Provider created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProviderProfile'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /providers/{id}:
    get:
      tags:
        - providers
      summary: Get provider by ID
      description: Get provider profile by ID
      operationId: getProvider
      security:
        - cookieAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Provider profile
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProviderProfile'
        '404':
          $ref: '#/components/responses/NotFound'
    
    patch:
      tags:
        - providers
      summary: Update provider profile
      description: Update provider profile (owner or ADMIN only)
      operationId: updateProvider
      security:
        - cookieAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateProviderRequest'
      responses:
        '200':
          description: Provider updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProviderProfile'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  # ==================== PACKAGES ====================
  /packages:
    post:
      tags:
        - packages
      summary: Create service package
      description: 'Create service package (PROVIDER role, entitlement check: packages.max)'
      operationId: createPackage
      security:
        - cookieAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePackageRequest'
      responses:
        '201':
          description: Package created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServicePackage'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/EntitlementExceeded'

  # ==================== REQUESTS ====================
  /requests:
    get:
      tags:
        - requests
      summary: List requests
      description: List visa requests with pagination
      operationId: listRequests
      security:
        - cookieAuth: []
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Limit'
        - name: status
          in: query
          schema:
            $ref: '#/components/schemas/RequestStatus'
        - name: seekerId
          in: query
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Request list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
    
    post:
      tags:
        - requests
      summary: Create request
      description: Post new visa request (SEEKER role required)
      operationId: createRequest
      security:
        - cookieAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateRequestRequest'
      responses:
        '201':
          description: Request created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Request'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /requests/{id}:
    get:
      tags:
        - requests
      summary: Get request by ID
      description: Get request details
      operationId: getRequest
      security:
        - cookieAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Request details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Request'
        '404':
          $ref: '#/components/responses/NotFound'
    
    patch:
      tags:
        - requests
      summary: Update request
      description: Update request (owner or ADMIN only)
      operationId: updateRequest
      security:
        - cookieAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateRequestRequest'
      responses:
        '200':
          description: Request updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Request'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  # ==================== CONSULTATIONS ====================
  /requests/{id}/consultations:
    post:
      tags:
        - consultations
      summary: Offer consultation
      description: Provider offers consultation (free or paid) to seeker for a request
      operationId: offerConsultation
      security:
        - cookieAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Request ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OfferConsultationRequest'
      responses:
        '201':
          description: Consultation offered successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Consultation'
        '400':
          $ref: '#/components/responses/BadRequest'
          description: Invalid input (price required for paid consultations)
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
          description: Provider hasn't unlocked request or not a provider
        '404':
          $ref: '#/components/responses/NotFound'
          description: Request not found

    get:
      tags:
        - consultations
      summary: List consultations
      description: Get all consultation offers for a request (seeker or providers who unlocked)
      operationId: listConsultations
      security:
        - cookieAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Request ID
      responses:
        '200':
          description: Consultation list
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Consultation'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
          description: Not authorized to view consultations for this request
        '404':
          $ref: '#/components/responses/NotFound'

  /consultations/{id}/book:
    post:
      tags:
        - consultations
      summary: Book consultation
      description: Seeker books a consultation slot (payment required for paid consultations)
      operationId: bookConsultation
      security:
        - cookieAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Consultation ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BookConsultationRequest'
      responses:
        '200':
          description: Consultation booked successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BookConsultationResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
          description: Invalid input or consultation not available
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
          description: Not authorized to book this consultation
        '404':
          $ref: '#/components/responses/NotFound'
        '402':
          description: Payment required for paid consultation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BookConsultationResponse'

  /consultations/{id}/complete:
    post:
      tags:
        - consultations
      summary: Complete consultation
      description: Provider marks consultation as completed after call happens
      operationId: completeConsultation
      security:
        - cookieAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Consultation ID
      responses:
        '200':
          description: Consultation marked as completed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Consultation'
        '400':
          $ref: '#/components/responses/BadRequest'
          description: Consultation not in bookable state
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
          description: Not the provider who offered this consultation
        '404':
          $ref: '#/components/responses/NotFound'

  /consultations/{id}/cancel:
    post:
      tags:
        - consultations
      summary: Cancel consultation
      description: Seeker or provider cancels a consultation (refund issued for paid consultations)
      operationId: cancelConsultation
      security:
        - cookieAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Consultation ID
      responses:
        '200':
          description: Consultation cancelled successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Consultation'
        '400':
          $ref: '#/components/responses/BadRequest'
          description: Consultation cannot be cancelled in current state
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
          description: Not authorized to cancel this consultation
        '404':
          $ref: '#/components/responses/NotFound'

  # ==================== MESSAGES ====================
  /requests/{id}/messages:
    get:
      tags:
        - messages
      summary: List messages
      description: Get messages for a request (participants only)
      operationId: listMessages
      security:
        - cookieAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: Message list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    
    post:
      tags:
        - messages
      summary: Send message
      description: Send message in request thread (participants only)
      operationId: sendMessage
      security:
        - cookieAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateMessageRequest'
      responses:
        '201':
          description: Message sent
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/AttachmentLimitExceeded'
        '413':
          $ref: '#/components/responses/PayloadTooLarge'

  /messages/attachments:
    post:
      tags:
        - messages
      summary: Upload attachment
      description: |
        Upload attachment file for use in messages. Files are stored in S3/R2 and scanned for viruses.
        
        **Requirements:**
        - File size must not exceed plan limit (entitlement: attachments.maxSizeMB)
        - MIME type must be in allowlist: pdf, jpg, png, webp, docx, xlsx
        - Attachment quota per user is enforced
        
        **Usage:**
        1. Upload file via this endpoint to get attachment ID
        2. Use attachment ID in POST /requests/{id}/messages (attachmentIds array)
        
        **Storage:**
        - Files stored in S3/R2 with signed URLs for access
        - Virus scan performed in background queue
      operationId: uploadAttachment
      security:
        - cookieAuth: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/UploadAttachmentRequest'
            encoding:
              file:
                contentType: application/pdf,image/jpeg,image/png,image/webp,application/vnd.openxmlformats-officedocument.wordprocessingml.document,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet
      responses:
        '200':
          description: Attachment uploaded successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Attachment'
              example:
                id: '550e8400-e29b-41d4-a716-446655440000'
                ownerUserId: '550e8400-e29b-41d4-a716-446655440001'
                key: 'attachments/550e8400-e29b-41d4-a716-446655440000/document.pdf'
                mime: 'application/pdf'
                size: 2456789
        '400':
          $ref: '#/components/responses/BadRequest'
          description: Invalid file type or format
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/AttachmentLimitExceeded'
          description: Attachment quota exceeded
        '413':
          $ref: '#/components/responses/PayloadTooLarge'
          description: File size exceeds plan limit (check attachments.maxSizeMB entitlement)

  # ==================== QUOTES ====================
  /requests/{id}/quotes:
    post:
      tags:
        - quotes
      summary: Submit quote
      description: 'Submit quote for request (PROVIDER role, entitlement check: quotes.monthly.max)'
      operationId: submitQuote
      security:
        - cookieAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateQuoteRequest'
      responses:
        '201':
          description: Quote submitted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Quote'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/EntitlementExceeded'
        '429':
          $ref: '#/components/responses/Throttled'

  /quotes/{id}:
    get:
      tags:
        - quotes
      summary: Get quote by ID
      description: Get quote details
      operationId: getQuote
      security:
        - cookieAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Quote details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Quote'
        '404':
          $ref: '#/components/responses/NotFound'
    
    patch:
      tags:
        - quotes
      summary: Update quote
      description: 'Update quote status (provider owner or seeker can accept/decline)'
      operationId: updateQuote
      security:
        - cookieAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateQuoteRequest'
      responses:
        '200':
          description: Quote updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Quote'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  # ==================== CHECKOUT ====================
  /checkout/intent:
    post:
      tags:
        - checkout
      summary: Create PaymentIntent
      description: Create Stripe Connect PaymentIntent for quote acceptance
      operationId: createPaymentIntent
      security:
        - cookieAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePaymentIntentRequest'
      responses:
        '201':
          description: PaymentIntent created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentIntentResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'

  # ==================== ORDERS ====================
  /orders:
    get:
      tags:
        - orders
      summary: List orders
      description: List orders (user's own orders)
      operationId: listOrders
      security:
        - cookieAuth: []
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Limit'
        - name: status
          in: query
          schema:
            $ref: '#/components/schemas/OrderStatus'
      responses:
        '200':
          description: Order list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /orders/{id}:
    get:
      tags:
        - orders
      summary: Get order by ID
      description: Get order details (participants only)
      operationId: getOrder
      security:
        - cookieAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Order details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    
    patch:
      tags:
        - orders
      summary: Update order
      description: Update order status/milestones (participants or ADMIN only)
      operationId: updateOrder
      security:
        - cookieAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateOrderRequest'
      responses:
        '200':
          description: Order updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  # ==================== REVIEWS ====================
  /orders/{id}/review:
    post:
      tags:
        - reviews
      summary: Submit review
      description: Submit review for completed order (order participant only)
      operationId: submitReview
      security:
        - cookieAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateReviewRequest'
      responses:
        '201':
          description: Review submitted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Review'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  # ==================== BILLING ====================
  /billing/checkout-session:
    post:
      tags:
        - billing
      summary: Create checkout session
      description: Create Stripe Checkout session for plan upgrade (PROVIDER role)
      operationId: createCheckoutSession
      security:
        - cookieAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCheckoutSessionRequest'
      responses:
        '201':
          description: Checkout session created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckoutSessionResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /billing/portal:
    get:
      tags:
        - billing
      summary: Get customer portal URL
      description: Get Stripe Customer Portal session URL (PROVIDER role)
      operationId: getCustomerPortal
      security:
        - cookieAuth: []
      responses:
        '200':
          description: Portal URL
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerPortalResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /billing/subscription:
    get:
      tags:
        - billing
      summary: Get subscription
      description: Get current subscription details (PROVIDER role)
      operationId: getSubscription
      security:
        - cookieAuth: []
      responses:
        '200':
          description: Subscription details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Subscription'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: No active subscription
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /billing/entitlements/me:
    get:
      tags:
        - billing
      summary: Get entitlements
      description: Get full entitlements + usage counters (PROVIDER role)
      operationId: getEntitlements
      security:
        - cookieAuth: []
      responses:
        '200':
          description: Entitlements and usage
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntitlementsResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /billing/webhook:
    post:
      tags:
        - billing
      summary: Stripe webhook handler
      description: Stripe Billing webhook endpoint (no auth, signature verification required)
      operationId: handleBillingWebhook
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Stripe webhook event
      responses:
        '200':
          description: Webhook processed (idempotent)
        '400':
          description: Invalid webhook signature or payload

  # ==================== ADMIN (Placeholders - M7) ====================
  /admin/providers:
    get:
      tags:
        - admin
      summary: List providers (admin)
      description: Admin-only endpoint for provider management (M7 placeholder)
      operationId: adminListProviders
      security:
        - cookieAuth: []
      responses:
        '200':
          description: Provider list
          content:
            application/json:
              schema:
                type: object
                description: Placeholder - M7 implementation
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

components:
  securitySchemes:
    cookieAuth:
      type: apiKey
      in: cookie
      name: token
      description: JWT token in HttpOnly cookie
    
  parameters:
    Page:
      name: page
      in: query
      description: Page number (1-based)
      schema:
        type: integer
        minimum: 1
        default: 1
    
    Limit:
      name: limit
      in: query
      description: Items per page
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 20
  
  responses:
    BadRequest:
      description: Invalid request parameters or body
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            code: 'BAD_REQUEST'
            message: 'Invalid request parameters'
    
    Unauthorized:
      description: Authentication required or invalid token
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            code: 'UNAUTHORIZED'
            message: 'Authentication required'
    
    Forbidden:
      description: Insufficient permissions
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            code: 'FORBIDDEN'
            message: 'Insufficient permissions'
    
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            code: 'NOT_FOUND'
            message: 'Resource not found'
    
    EntitlementExceeded:
      description: Entitlement limit exceeded (e.g., quotes.monthly.max, packages.max)
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/EntitlementExceededError'
          example:
            code: 'ENTITLEMENT_EXCEEDED'
            message: 'Monthly quote limit exceeded'
            entitlement: 'quotes.monthly.max'
            limit: 50
            used: 50
    
    Throttled:
      description: Rate limit exceeded
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ThrottledError'
          example:
            code: 'THROTTLED'
            message: 'Rate limit exceeded'
            retryAfter: 3600
    
    PayloadTooLarge:
      description: Request payload too large (attachment size limit)
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            code: 'PAYLOAD_TOO_LARGE'
            message: 'Attachment size exceeds limit'
    
    AttachmentLimitExceeded:
      description: Attachment count limit exceeded
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            code: 'ATTACHMENT_LIMIT_EXCEEDED'
            message: 'Attachment count limit exceeded'
    
    ValidationError:
      description: Request validation failed
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ValidationError'
          example:
            code: 'VALIDATION_ERROR'
            message: 'Validation failed'
            errors:
              - field: 'email'
                message: 'Invalid email format'
    
    InternalServerError:
      description: Internal server error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            code: 'INTERNAL_SERVER_ERROR'
            message: 'An internal error occurred'

  schemas:
    # ==================== COMMON ====================
    Error:
      type: object
      required:
        - code
        - message
      properties:
        code:
          type: string
          description: Error code
        message:
          type: string
          description: Human-readable error message
    
    EntitlementExceededError:
      allOf:
        - $ref: '#/components/schemas/Error'
        - type: object
          properties:
            entitlement:
              type: string
              description: Entitlement key (e.g., 'quotes.monthly.max')
            limit:
              type: number
              description: Entitlement limit
            used:
              type: number
              description: Current usage
    
    ThrottledError:
      allOf:
        - $ref: '#/components/schemas/Error'
        - type: object
          properties:
            retryAfter:
              type: integer
              description: Seconds until retry allowed
    
    ValidationError:
      allOf:
        - $ref: '#/components/schemas/Error'
        - type: object
          required:
            - errors
          properties:
            errors:
              type: array
              items:
                type: object
                required:
                  - field
                  - message
                properties:
                  field:
                    type: string
                    description: Field name that failed validation
                  message:
                    type: string
                    description: Validation error message
    
    PaginationMeta:
      type: object
      properties:
        page:
          type: integer
        limit:
          type: integer
        total:
          type: integer
        totalPages:
          type: integer
    
    # ==================== AUTH ====================
    LoginRequest:
      type: object
      required:
        - email
        - password
      properties:
        email:
          type: string
          format: email
        password:
          type: string
          format: password
          minLength: 8
        rememberMe:
          type: boolean
          nullable: true
          description: If true, token expiration extended to 7 days instead of 15 minutes
    
    LoginResponse:
      type: object
      description: 'Login response (RFC-003: includes emailVerified status)'
      properties:
        user:
          $ref: '#/components/schemas/User'
        message:
          type: string
          description: Success message
          example: 'Login successful'
    
    RegisterRequest:
      type: object
      required:
        - email
        - password
      properties:
        email:
          type: string
          format: email
          description: User email address (must be unique)
        password:
          type: string
          format: password
          minLength: 8
          description: |
            Password must be at least 8 characters and contain:
            - At least one uppercase letter
            - At least one lowercase letter
            - At least one number
            - At least one special character (!@#$%^&*)
        name:
          type: string
          maxLength: 200
          nullable: true
          description: User name (optional)
        phone:
          type: string
          maxLength: 50
          nullable: true
          description: User phone number (optional)
    
    RegisterResponse:
      type: object
      description: 'Registration response (RFC-003: includes emailVerified status)'
      properties:
        user:
          $ref: '#/components/schemas/User'
        message:
          type: string
          description: Success message
          example: 'Registration successful. Please check your email to verify your account.'
    
    ForgotPasswordRequest:
      type: object
      required:
        - email
      properties:
        email:
          type: string
          format: email
          description: User email address
    
    ForgotPasswordResponse:
      type: object
      properties:
        message:
          type: string
          description: Success message (always returned, regardless of whether user exists)
          example: 'If an account with that email exists, a password reset link has been sent.'
    
    VerifyEmailResponse:
      type: object
      description: 'RFC-003: Email verification response'
      required:
        - message
        - verified
      properties:
        message:
          type: string
          description: Success message
          example: 'Email verified successfully. You can now login.'
        verified:
          type: boolean
          description: Whether email was verified
          example: true
    
    ResendVerificationResponse:
      type: object
      description: 'RFC-003: Resend verification email response'
      required:
        - message
      properties:
        message:
          type: string
          description: Success message
          example: 'Verification email sent. Please check your email.'
    LogoutResponse:
      type: object
      description: Logout response
      required:
        - message
      properties:
        message:
          type: string
          description: Success message
          example: 'Logged out successfully'
    
    ResetPasswordRequest:
      type: object
      required:
        - token
        - newPassword
      properties:
        token:
          type: string
          description: Password reset token from email link
          example: 'abc123def456...'
        newPassword:
          type: string
          format: password
          minLength: 8
          description: New password (must meet strength requirements)
    
    ResetPasswordResponse:
      type: object
      properties:
        message:
          type: string
          description: Success message
          example: 'Password reset successful. You can now login with your new password.'
    
    # ==================== USERS ====================
    User:
      type: object
      description: 'User schema per Section 3 data model (RFC-003: includes email verification status, RFC-004: includes onboarding completion status)'
      required:
        - id
        - email
        - role
        - emailVerified
        - onboardingCompleted
        - seekerOnboardingCompleted
        - providerOnboardingCompleted
        - createdAt
      properties:
        id:
          type: string
          format: uuid
        email:
          type: string
          format: email
        role:
          $ref: '#/components/schemas/UserRole'
        name:
          type: string
          nullable: true
        phone:
          type: string
          nullable: true
        locale:
          type: string
          default: 'en'
          example: 'en'
        emailVerified:
          type: boolean
          default: false
          description: 'RFC-003: Whether user has verified their email address'
        onboardingCompleted:
          type: boolean
          default: false
          description: 'RFC-004: Whether user has completed onboarding'
        onboardingCompletedAt:
          type: string
          format: date-time
          nullable: true
          description: 'RFC-004: Timestamp when onboarding was completed'
        seekerOnboardingCompleted:
          type: boolean
          default: false
          description: 'RFC-004: Whether user has completed seeker onboarding'
        providerOnboardingCompleted:
          type: boolean
          default: false
          description: 'RFC-004: Whether user has completed provider onboarding'
        providerBusinessStepCompleted:
          type: boolean
          default: false
          description: 'Step 1: Business details completed (provider onboarding)'
        providerServicesStepCompleted:
          type: boolean
          default: false
          description: 'Step 2: Services & pricing completed (provider onboarding)'
        providerCredentialsStepCompleted:
          type: boolean
          default: false
          description: 'Step 3: Credentials upload completed (provider onboarding)'
        createdAt:
          type: string
          format: date-time
    
    UserRole:
      type: string
      enum:
        - SEEKER
        - PROVIDER
        - ADMIN
    
    UpdateUserRequest:
      type: object
      description: Update user profile request (partial update, including role selection)
      properties:
        role:
          $ref: '#/components/schemas/UserRole'
          description: Update user role (for account type selection)
        name:
          type: string
          maxLength: 200
          nullable: true
          description: Update user name
        phone:
          type: string
          maxLength: 50
          nullable: true
          description: Update user phone number
        locale:
          type: string
          maxLength: 10
          nullable: true
          default: 'en'
          description: Update user locale preference
    
    MarkStepCompleteRequest:
      type: object
      description: Request to mark a provider onboarding step as complete
      required:
        - step
      properties:
        step:
          type: integer
          minimum: 1
          maximum: 3
          description: 'Step number (1: business details, 2: services & pricing, 3: credentials upload)'
          example: 1
    MarkStepCompleteResponse:
      type: object
      description: Response after marking step as complete
      required:
        - message
      properties:
        message:
          type: string
          description: Success message
          example: 'Step 1 marked as complete'
    CompleteOnboardingRequest:
      type: object
      description: 'RFC-004: Request to mark onboarding as complete'
      required:
        - role
      properties:
        role:
          $ref: '#/components/schemas/UserRole'
          description: Role to complete onboarding for (must match user's actual role, SEEKER or PROVIDER only)
          enum:
            - SEEKER
            - PROVIDER
    
    # ==================== PROVIDERS ====================
    ProviderProfile:
      type: object
      description: Provider profile schema per Section 3 data model
      required:
        - id
        - userId
        - businessName
      properties:
        id:
          type: string
          format: uuid
        userId:
          type: string
          format: uuid
          description: Foreign key to User
        businessName:
          type: string
        description:
          type: string
          nullable: true
        location:
          type: string
          nullable: true
        languages:
          type: array
          items:
            type: string
          default: []
          example: ['en', 'th']
        verifiedAt:
          type: string
          format: date-time
          nullable: true
          description: ISO 8601 timestamp when provider was verified
    
    ProviderListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/ProviderProfile'
        meta:
          $ref: '#/components/schemas/PaginationMeta'
    
    CreateProviderRequest:
      type: object
      description: Create provider profile request
      required:
        - businessName
      properties:
        businessName:
          type: string
          minLength: 1
          maxLength: 200
        description:
          type: string
          maxLength: 2000
          nullable: true
        location:
          type: string
          maxLength: 200
          nullable: true
        languages:
          type: array
          items:
            type: string
            minLength: 2
            maxLength: 10
          default: []
    
    UpdateProviderRequest:
      type: object
      description: Update provider profile request (partial update)
      properties:
        businessName:
          type: string
          minLength: 1
          maxLength: 200
        description:
          type: string
          maxLength: 2000
        location:
          type: string
          maxLength: 200
        languages:
          type: array
          items:
            type: string
            minLength: 2
            maxLength: 10
    
    # ==================== PACKAGES ====================
    ServicePackage:
      type: object
      description: Service package schema per Section 3 data model
      required:
        - id
        - providerId
        - title
        - description
        - priceTHB
        - deliverables
        - etaDays
        - isActive
      properties:
        id:
          type: string
          format: uuid
        providerId:
          type: string
          format: uuid
          description: Foreign key to ProviderProfile
        title:
          type: string
          minLength: 1
          maxLength: 200
        description:
          type: string
          maxLength: 2000
        priceTHB:
          type: number
          minimum: 0
          description: Price in Thai Baht
        deliverables:
          type: array
          items:
            type: string
          minItems: 1
          description: List of deliverables included in package
        etaDays:
          type: integer
          minimum: 1
          description: Estimated delivery time in days
        isActive:
          type: boolean
          default: true
    
    CreatePackageRequest:
      type: object
      description: 'Create service package request (entitlement check: packages.max)'
      required:
        - title
        - description
        - priceTHB
        - deliverables
        - etaDays
      properties:
        title:
          type: string
          minLength: 1
          maxLength: 200
        description:
          type: string
          maxLength: 2000
        priceTHB:
          type: number
          minimum: 0
        deliverables:
          type: array
          items:
            type: string
            minLength: 1
          minItems: 1
        etaDays:
          type: integer
          minimum: 1
    
    # ==================== REQUESTS ====================
    Request:
      type: object
      description: Visa request schema per Section 3 data model
      required:
        - id
        - seekerId
        - title
        - description
        - status
        - createdAt
      properties:
        id:
          type: string
          format: uuid
        seekerId:
          type: string
          format: uuid
          description: Foreign key to User (role=SEEKER)
        title:
          type: string
          minLength: 1
          maxLength: 200
        description:
          type: string
          maxLength: 5000
        visaType:
          type: string
          nullable: true
          maxLength: 100
          description: Type of visa (e.g., 'Tourist', 'Business', 'Work Permit')
        budgetMin:
          type: number
          minimum: 0
          nullable: true
          description: Minimum budget in THB
        budgetMax:
          type: number
          minimum: 0
          nullable: true
          description: Maximum budget in THB
        location:
          type: string
          nullable: true
          maxLength: 200
          description: Location preference
        status:
          $ref: '#/components/schemas/RequestStatus'
        createdAt:
          type: string
          format: date-time
    
    RequestStatus:
      type: string
      enum:
        - DRAFT
        - OPEN
        - CLOSED
        - HIRED
    
    RequestListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Request'
        meta:
          $ref: '#/components/schemas/PaginationMeta'
    
    CreateRequestRequest:
      type: object
      description: Create visa request (SEEKER role required)
      required:
        - title
        - description
      properties:
        title:
          type: string
          minLength: 1
          maxLength: 200
        description:
          type: string
          maxLength: 5000
        visaType:
          type: string
          maxLength: 100
          nullable: true
        budgetMin:
          type: number
          minimum: 0
          nullable: true
        budgetMax:
          type: number
          minimum: 0
          nullable: true
        location:
          type: string
          maxLength: 200
          nullable: true
        status:
          $ref: '#/components/schemas/RequestStatus'
          default: DRAFT
    
    UpdateRequestRequest:
      type: object
      description: Update visa request (owner or ADMIN only)
      properties:
        title:
          type: string
          minLength: 1
          maxLength: 200
        description:
          type: string
          maxLength: 5000
        visaType:
          type: string
          maxLength: 100
        budgetMin:
          type: number
          minimum: 0
        budgetMax:
          type: number
          minimum: 0
        location:
          type: string
          maxLength: 200
        status:
          $ref: '#/components/schemas/RequestStatus'
    
    # ==================== MESSAGES ====================
    Message:
      type: object
      description: Message schema per Section 3 data model
      required:
        - id
        - requestId
        - senderId
        - body
        - createdAt
      properties:
        id:
          type: string
          format: uuid
        requestId:
          type: string
          format: uuid
          description: Foreign key to Request
        senderId:
          type: string
          format: uuid
          description: Foreign key to User (sender)
        body:
          type: string
          minLength: 1
          maxLength: 10000
          description: Message content
        createdAt:
          type: string
          format: date-time
        attachments:
          type: array
          items:
            $ref: '#/components/schemas/Attachment'
          description: Attachments linked to this message
          nullable: true
    
    MessageListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Message'
        meta:
          $ref: '#/components/schemas/PaginationMeta'
    
    CreateMessageRequest:
      type: object
      description: Send message in request thread (participants only, attachment limits enforced)
      required:
        - body
      properties:
        body:
          type: string
          minLength: 1
          maxLength: 10000
        attachmentIds:
          type: array
          items:
            type: string
            format: uuid
          maxItems: 10
          description: 'Attachment IDs from POST /messages/attachments (entitlement check: attachments.maxSizeMB)'
    
    UploadAttachmentRequest:
      type: object
      description: 'File upload request (multipart/form-data). Enforces size limits per plan and MIME allowlist per Section 9.'
      required:
        - file
      properties:
        file:
          type: string
          format: binary
          description: 'File to upload. Allowed MIME types: pdf, jpg, png, webp, docx, xlsx. Size limit enforced per plan (attachments.maxSizeMB).'
        requestId:
          type: string
          format: uuid
          nullable: true
          description: Optional request ID to associate attachment with request
        orderId:
          type: string
          format: uuid
          nullable: true
          description: Optional order ID to associate attachment with order
    
    # ==================== QUOTES ====================
    Quote:
      type: object
      description: Quote schema per Section 3 data model
      required:
        - id
        - requestId
        - providerId
        - items
        - totalTHB
        - etaDays
        - status
      properties:
        id:
          type: string
          format: uuid
        requestId:
          type: string
          format: uuid
          description: Foreign key to Request
        providerId:
          type: string
          format: uuid
          description: Foreign key to ProviderProfile
        items:
          type: array
          items:
            $ref: '#/components/schemas/QuoteItem'
          minItems: 1
          description: Quote line items
        totalTHB:
          type: number
          minimum: 0
          description: Total quote amount in Thai Baht
        etaDays:
          type: integer
          minimum: 1
          description: Estimated completion time in days
        terms:
          type: string
          maxLength: 2000
          nullable: true
          description: Terms and conditions
        status:
          $ref: '#/components/schemas/QuoteStatus'
        validUntil:
          type: string
          format: date-time
          nullable: true
          description: Quote expiration timestamp
    
    QuoteItem:
      type: object
      description: Quote line item
      required:
        - title
        - quantity
        - priceTHB
      properties:
        title:
          type: string
          minLength: 1
          maxLength: 200
          description: Item description
        quantity:
          type: integer
          minimum: 1
          default: 1
        priceTHB:
          type: number
          minimum: 0
          description: Unit price in Thai Baht
        subtotalTHB:
          type: number
          minimum: 0
          description: Calculated subtotal (quantity * priceTHB)
          readOnly: true
    
    QuoteStatus:
      type: string
      enum:
        - PENDING
        - ACCEPTED
        - DECLINED
        - EXPIRED
    
    CreateQuoteRequest:
      type: object
      description: 'Submit quote for request (PROVIDER role, entitlement check: quotes.monthly.max)'
      required:
        - items
        - totalTHB
        - etaDays
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/QuoteItem'
          minItems: 1
        totalTHB:
          type: number
          minimum: 0
          description: Total amount in Thai Baht (should match sum of items)
        etaDays:
          type: integer
          minimum: 1
        terms:
          type: string
          maxLength: 2000
          nullable: true
    
    UpdateQuoteRequest:
      type: object
      description: 'Update quote status (provider owner or seeker can accept/decline)'
      properties:
        status:
          $ref: '#/components/schemas/QuoteStatus'
          description: Status change (seeker can set ACCEPTED/DECLINED, provider can update)
        terms:
          type: string
          maxLength: 2000
          description: Update terms (provider only)
    
    # ==================== CHECKOUT ====================
    CreatePaymentIntentRequest:
      type: object
      description: 'Create Stripe Connect PaymentIntent for quote acceptance (SEEKER role)'
      required:
        - quoteId
      properties:
        quoteId:
          type: string
          format: uuid
          description: ID of accepted quote
    
    PaymentIntentResponse:
      type: object
      description: PaymentIntent creation response
      required:
        - clientSecret
        - orderId
      properties:
        clientSecret:
          type: string
          description: Stripe PaymentIntent client_secret for frontend confirmation
          example: 'pi_xxx_secret_xxx'
        orderId:
          type: string
          format: uuid
          description: Created order ID (escrowStatus=REQUIRES_PAYMENT)
    
    # ==================== ORDERS ====================
    Order:
      type: object
      description: Order schema per Section 3 data model
      required:
        - id
        - quoteId
        - escrowStatus
        - status
      properties:
        id:
          type: string
          format: uuid
        quoteId:
          type: string
          format: uuid
          description: Foreign key to Quote
        escrowStatus:
          $ref: '#/components/schemas/EscrowStatus'
          description: Stripe Connect escrow state
        status:
          $ref: '#/components/schemas/OrderStatus'
          description: Order lifecycle status
        milestones:
          type: array
          items:
            $ref: '#/components/schemas/Milestone'
          description: Order milestones
          nullable: true
    
    EscrowStatus:
      type: string
      enum:
        - REQUIRES_PAYMENT
        - HELD
        - RELEASED
        - REFUNDED
    
    OrderStatus:
      type: string
      enum:
        - ACTIVE
        - DELIVERED
        - COMPLETED
        - DISPUTED
        - CANCELLED
    
    OrderListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Order'
        meta:
          $ref: '#/components/schemas/PaginationMeta'
    
    UpdateOrderRequest:
      type: object
      description: Update order status/milestones (participants or ADMIN only)
      properties:
        status:
          $ref: '#/components/schemas/OrderStatus'
          description: Order status update
        escrowStatus:
          $ref: '#/components/schemas/EscrowStatus'
          description: Escrow status (admin-controlled, via Stripe webhook)
        milestones:
          type: array
          items:
            $ref: '#/components/schemas/MilestoneInput'
          description: Milestone updates
    
    # ==================== REVIEWS ====================
    Review:
      type: object
      description: Review schema per Section 3 data model
      required:
        - id
        - orderId
        - rating
        - tags
        - createdAt
      properties:
        id:
          type: string
          format: uuid
        orderId:
          type: string
          format: uuid
          description: Foreign key to Order
        rating:
          type: integer
          minimum: 1
          maximum: 5
          description: Rating 1-5 stars
        tags:
          type: array
          items:
            type: string
            minLength: 1
            maxLength: 50
          description: Review tags (e.g., 'professional', 'timely', 'helpful')
        text:
          type: string
          maxLength: 2000
          nullable: true
          description: Review text content
        createdAt:
          type: string
          format: date-time
    
    CreateReviewRequest:
      type: object
      description: Submit review for completed order (order participant only)
      required:
        - rating
        - tags
      properties:
        rating:
          type: integer
          minimum: 1
          maximum: 5
        tags:
          type: array
          items:
            type: string
            minLength: 1
            maxLength: 50
          minItems: 1
          maxItems: 10
        text:
          type: string
          maxLength: 2000
          nullable: true
    
    # ==================== MILESTONES ====================
    Milestone:
      type: object
      description: Milestone schema per Section 3 data model
      required:
        - id
        - orderId
        - title
        - dueAt
        - status
      properties:
        id:
          type: string
          format: uuid
        orderId:
          type: string
          format: uuid
          description: Foreign key to Order
        title:
          type: string
          minLength: 1
          maxLength: 200
          description: Milestone title
        dueAt:
          type: string
          format: date-time
          description: Due date/timestamp
        status:
          $ref: '#/components/schemas/MilestoneStatus'
    
    MilestoneStatus:
      type: string
      enum:
        - PENDING
        - DONE
    
    MilestoneInput:
      type: object
      description: Milestone input for order updates
      properties:
        id:
          type: string
          format: uuid
          description: Milestone ID (if updating existing)
        title:
          type: string
          minLength: 1
          maxLength: 200
        dueAt:
          type: string
          format: date-time
        status:
          $ref: '#/components/schemas/MilestoneStatus'
    
    # ==================== ATTACHMENTS ====================
    Attachment:
      type: object
      description: Attachment schema per Section 3 data model
      required:
        - id
        - ownerUserId
        - key
        - mime
        - size
      properties:
        id:
          type: string
          format: uuid
        ownerUserId:
          type: string
          format: uuid
          description: Foreign key to User (owner)
        requestId:
          type: string
          format: uuid
          nullable: true
          description: Foreign key to Request (if attached to request)
        orderId:
          type: string
          format: uuid
          nullable: true
          description: Foreign key to Order (if attached to order)
        key:
          type: string
          description: Storage key (S3/R2 object key)
          example: 'attachments/xxx-xxx-xxx/file.pdf'
        mime:
          type: string
          description: MIME type
          example: 'application/pdf'
        size:
          type: integer
          minimum: 0
          description: File size in bytes
    
    # ==================== BILLING ====================
    CreateCheckoutSessionRequest:
      type: object
      description: Create Stripe Checkout session for plan upgrade (PROVIDER role)
      required:
        - planCode
        - interval
      properties:
        planCode:
          $ref: '#/components/schemas/PlanCode'
          description: Plan to subscribe to (FREE not allowed)
        interval:
          type: string
          enum:
            - monthly
            - yearly
          description: Billing interval
    
    PlanCode:
      type: string
      enum:
        - FREE
        - PRO
        - PRO_PLUS
        - ENTERPRISE
    
    CheckoutSessionResponse:
      type: object
      properties:
        url:
          type: string
          format: uri
          description: Stripe Checkout session URL
    
    CustomerPortalResponse:
      type: object
      properties:
        url:
          type: string
          format: uri
          description: Stripe Customer Portal session URL
    
    Subscription:
      type: object
      description: Subscription schema per Section 3 data model
      required:
        - planCode
        - status
        - currentPeriodStart
        - currentPeriodEnd
        - cancelAtPeriodEnd
        - createdAt
        - updatedAt
      properties:
        id:
          type: string
          format: uuid
          description: Subscription ID
        billingCustomerId:
          type: string
          format: uuid
          description: Foreign key to BillingCustomer
        stripeSubscriptionId:
          type: string
          description: Stripe subscription ID
          example: 'sub_xxx'
        planCode:
          $ref: '#/components/schemas/PlanCode'
        status:
          $ref: '#/components/schemas/SubscriptionStatus'
        currentPeriodStart:
          type: string
          format: date-time
          description: Current billing period start
        currentPeriodEnd:
          type: string
          format: date-time
          description: Current billing period end
        cancelAtPeriodEnd:
          type: boolean
          description: Whether subscription will cancel at period end
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
    
    SubscriptionStatus:
      type: string
      enum:
        - INCOMPLETE
        - TRIALING
        - ACTIVE
        - PAST_DUE
        - CANCELED
        - UNPAID
    
    EntitlementsResponse:
      type: object
      description: Full entitlements and usage counters per Section 4
      required:
        - entitlements
        - usage
      properties:
        entitlements:
          type: object
          additionalProperties:
            oneOf:
              - type: string
              - type: number
              - type: boolean
          description: Key-value entitlements per plan (e.g., quotes.monthly.max=50, packages.max=12, visibility.weight=1.2, attachments.maxSizeMB=25)
          example:
            quotes.monthly.max: 50
            packages.max: 12
            photos.max: 12
            attachments.maxSizeMB: 25
            visibility.weight: 1.2
            analytics.level: 'advanced'
        usage:
          type: array
          items:
            $ref: '#/components/schemas/UsageCounter'
          description: Usage counters for current period
    
    UsageCounter:
      type: object
      description: Usage counter schema per Section 3 data model
      required:
        - metric
        - used
        - limit
        - periodKey
        - resetAt
      properties:
        metric:
          type: string
          description: Counter metric name
          example: 'quotes.monthly'
        used:
          type: number
          minimum: 0
          description: Current usage count
        limit:
          type: number
          minimum: 0
          description: Usage limit (from entitlements)
        periodKey:
          type: string
          pattern: '^\d{4}-\d{2}$'
          description: Period key in YYYY-MM format
          example: '2024-01'
        resetAt:
          type: string
          format: date-time
          description: When counter resets (first of next month)

    # ==================== CONSULTATIONS ====================
    ConsultationType:
      type: string
      enum:
        - FREE
        - PAID
      description: Type of consultation offering (free discovery call or paid consultation)

    ConsultationStatus:
      type: string
      enum:
        - OFFERED
        - BOOKED
        - COMPLETED
        - CANCELLED
        - EXPIRED
      description: |
        Consultation lifecycle status:
        - OFFERED: Provider offered, seeker hasn't booked yet
        - BOOKED: Seeker booked, awaiting scheduled call
        - COMPLETED: Call happened
        - CANCELLED: Either party cancelled
        - EXPIRED: Offer expired (7 days after creation)

    Consultation:
      type: object
      description: Consultation offer from provider to seeker (RFC-005)
      required:
        - id
        - requestId
        - providerId
        - type
        - durationMinutes
        - status
        - createdAt
        - updatedAt
      properties:
        id:
          type: string
          format: uuid
        requestId:
          type: string
          format: uuid
          description: Foreign key to Request
        providerId:
          type: string
          format: uuid
          description: Foreign key to ProviderProfile
        type:
          $ref: '#/components/schemas/ConsultationType'
        priceTHB:
          type: number
          minimum: 0
          nullable: true
          description: Price in Thai Baht (null for FREE consultations, ฿500-฿10,000 for PAID)
        durationMinutes:
          type: integer
          minimum: 15
          maximum: 120
          description: Call duration (15, 30, 45, or 60 minutes typical)
        description:
          type: string
          maxLength: 1000
          nullable: true
          description: What will be discussed in the call
        meetingLink:
          type: string
          format: uri
          maxLength: 500
          nullable: true
          description: Zoom/Google Meet link (can be added later)
        scheduledAt:
          type: string
          format: date-time
          nullable: true
          description: When the call is scheduled (set when seeker books)
        status:
          $ref: '#/components/schemas/ConsultationStatus'
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
        provider:
          type: object
          nullable: true
          description: Provider information (included in list/get responses)
          properties:
            id:
              type: string
              format: uuid
            businessName:
              type: string
            businessType:
              type: string
              nullable: true
            yearsExperience:
              type: integer
              nullable: true
            verifiedAt:
              type: string
              format: date-time
              nullable: true

    OfferConsultationRequest:
      type: object
      description: Request to offer consultation to seeker (RFC-005)
      required:
        - type
        - durationMinutes
      properties:
        type:
          $ref: '#/components/schemas/ConsultationType'
        priceTHB:
          type: number
          minimum: 500
          maximum: 10000
          description: Required for PAID consultations (฿500-฿10,000 range)
        durationMinutes:
          type: integer
          enum: [15, 30, 45, 60]
          description: Call duration in minutes
        description:
          type: string
          maxLength: 1000
          description: What will be discussed in the call
        meetingLink:
          type: string
          format: uri
          maxLength: 500
          description: Zoom/Google Meet link (optional, can add later)

    BookConsultationRequest:
      type: object
      description: Request to book a consultation slot (RFC-005)
      required:
        - scheduledAt
      properties:
        scheduledAt:
          type: string
          format: date-time
          description: When seeker wants to have the call (must be future date)
        notes:
          type: string
          maxLength: 500
          description: Seeker's notes/questions for the call

    BookConsultationResponse:
      type: object
      description: Response after booking consultation (RFC-005)
      required:
        - consultation
      properties:
        consultation:
          $ref: '#/components/schemas/Consultation'
        paymentIntent:
          type: object
          nullable: true
          description: Only present for paid consultations requiring payment
          properties:
            clientSecret:
              type: string
              description: Stripe PaymentIntent client secret for frontend
              example: 'pi_xxx_secret_xxx'
            amount:
              type: number
              description: Amount in THB

